html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    display:inline;
    color:#FFAADD;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 40px;
    text-align:left;
    padding-left:1%;
    border-bottom-color:#AA2277;
    border-bottom-width: 1%;
    border-bottom-style:solid;
}

h2 {
    font-size: 25px;
}

p {
    color:#EE99CC;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 20px;
    text-align:left;
    padding:1%;
    border-left-color:#CC77AA;
    border-left-width: 1%;
    border-left-style: dashed;
    margin-left: 1%
}

button {
    background-color:#883355;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 25px;
    color:#DD88AA;
    border:none;
    padding: 0.75%;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    transition:0.1s;
}
button:hover {
    cursor:pointer;
    background-color:#AA6688;
    color:#FFAADD;
    transition:0.1s;
}