html {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #223;
    margin: 0px;
    padding: 0px;
}


h1, h2 {
    display:inline;
    color:#C99;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 40px;
    text-align:left;
    padding-left:1%;
    padding-right:1%;
    border-bottom-color:#A77;
    border-bottom-width: 1%;
    border-bottom-style:solid;
}

h2 {
    font-size: 25px;
}

p {
    color:#EBB;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 20px;
    text-align:left;
    padding:1%;
    border-left-color:#C99;
    border-left-width: 1%;
    border-left-style: solid;
    margin-left: 1%;
    width:75%;
}

a {
    color:#BBE;
    text-decoration: underline;
}

button {
    background-color:#446;
    font-family:'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 25px;
    color:#99C;
    border:none;
    padding: 0.75%;
    text-align:center;
    text-decoration: none;
    display:inline-block;
    transition:0.1s;
}
button:hover {
    cursor:pointer;
    background-color:#668;
    color:#BBE;
    transition:0.1s;
}

textarea, input, .input {
    resize:none;
    padding: 10px 5px;
    margin: 0px 0px;
    overflow:hidden;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    background-color: #334;
    border:none;
    color:#EBB;
    outline:none;
    overflow-y:auto;
    overflow-x:auto;
    scrollbar-color: #668 #223;
    scrollbar-width:thin;

    font-family:'Courier New', Courier, monospace;
    font-weight:normal;
    font-size: 16px;
}

.textoutput {
    resize:none;
    padding: 10px 5px;
    margin: 0px 0px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    min-width: 100%;
    min-height: 100%;
    max-width:100%;
    max-height:100%;
    width:0px;
    height: 0px;
    background-color: #262636;
    border:none;
    color:#EBB;
    overflow:hidden;
    overflow-y:auto;

    font-family:'Courier New', Courier, monospace;
    font-weight:normal;
    font-size: 16px;
}


::selection { background:#99C; color:#225; }
::-moz-selection { background:#99C; color:#225; }
::-webkit-selection { background:#99C; color:#225; }

.rows {
    display:inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.columns {
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.row, .column {
    display:inline-block;
    flex: 1;
}

.pad {
    padding: 10px 10px;
}


::-webkit-scrollbar {
    height:12px;
    width:6px;
    background: #447;
}

::-webkit-scrollbar-thumb {
    background: #CCF;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.disabled:hover {
    cursor:not-allowed;
    background-color:#668;
    color:#BBE;
}

.cornerButton {
    float:right;
    margin-left:10px;
}